<div class="phone-images">
  <img ng-src="{{img}}" class="phone"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.phone.images" />
</div>

<h1>{{$ctrl.person.name}}</h1>

<p>{{$ctrl.person.email}}</p>

<h2 ng-if="$ctrl.updateMode">Update</h2>
<h2 ng-if="!$ctrl.updateMode">Insert</h2>
<h2>user properties with the form below</h2>

<form role="form" ng-submit="save($ctrl.person._id)">

  <div>
    <label for="name">Name</label>
    <div>
      <input type="text" ng-model="person.name" id="name" placeholder="Change Name Here"/>
    </div>
  </div>
  
  <div>
    <label for="name">E-mail</label>
    <div>
      <input type="text" ng-model="person.email" id="email" placeholder="Change e-mail Here"/>
    </div>
  </div>
  
  <div>
    <div>
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </div>

</form>